body{
    font-family: 'Roboto', sans-serif;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .text-box {
    position: absolute;
    top: 50%;
    left: 15%;
    right: 15%;
    color: #fff;
    text-align: left;
    transform: translateY(-50%);
}
.slick-slide img{
    height: 200px;
    width:100%;
}
  .header {
    position: fixed;
    top: 22px;
    left: 23px;
    width: calc(100% - 48px);
    background: #0a2642;
    z-index: 100;
    border-bottom: solid 2px #7f66ff;
}
.header_content {
    width: 100%;
    height: 94px;
    padding-left: 50px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.logo{
    display: inline-block;
}
.logo a {
    display: block;
    height: 100%;
    padding: 5px;
}
.logo a > span {
    display: block;
    font-size: 30px;
    line-height: 1;
    font-weight: 500;
    color: #7f66ff;
}
.logo a > span > span {
    color: #ffffff;
}
a:hover{
    text-decoration: none;
}
.home_title h1 {
    font-size: 90px;
    font-weight: 700;
    color: #ffffff;
    font-style: italic;
    line-height: 0.75;
}
.home_title h1 span:first-of-type {
    color: #ff9000;
}

.home_title h1 span {
    display: block;
    font-size: 75px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
    font-style: italic;
    text-shadow: 1px -1px 9px black;
}
ul{
    list-style: none;
    padding-left: 0;
}
.home_info_container {
    margin-top: 2px;
}
.home_info ul li {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}
.home_info {
    display: inline-block;
    height: 49px;
    padding-left: 22px;
    padding-right: 24px;
    background: #7f66ff;
}
.home_info_container {
    margin-top: 2px;
}
.home_info ul {
    height: 100%;
}
.home_info_container {
    margin-top: 2px;
}
.home_button {
    margin-top: 60px;
}

.button_1 {
    background: #ffffff;
}
.button {
    display: inline-block;
    width: 202px;
    height: 59px;
    text-align: center;
}
.header.scrolled .header_content {
    height: 75px;
}

.button a {
    display: block;
    height: 100%;
    line-height: 59px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #111;
   
}
.button_1 {
    border-bottom: 3px solid #7f66ff;
}
.button::after {
    display: block;
    position: absolute;
    left: 1%;
    bottom: 0;
    width: 19%;
    height: 3px;
    content: '';
}
.button:hover img{
    margin-left: 4%;
}
.intro {
    background: #f5f8fb;
    padding-top: 92px;
    padding-bottom: 102px;
}
.section_title {
    margin-top: 7px;
}
video {
    width: 100% !important;
    height: auto !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    line-height: 1.2;
    color: #0a2642;
    font-weight: 700;
}
.intro_text {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}
.intro_text p {
    font-size: 18px;
    font-weight: 400;
    color: #68727c;
}
.intro_button {
    margin-top: 47px;
}

.button_2 {
    background: #7f66ff;
    border-bottom: 2px solid #111;
}
.button {
    display: inline-block;
    width: 202px;
    height: 59px;
    text-align: center;
}
.cta_title h1 {
    color: #ffffff;
    font-size: 60px;
}
.cta_text {
    margin-top: 18px;
}
.cta_text p {
    font-size: 18px;
    color: #ffffff;
}
.cta{
    background-color: rgba(127,102,255,0.9);
    padding-top: 81px;
    padding-bottom: 73px;
}
.cta_button {
    margin-top: 23px;
}

.button_3 {
    background: #ff9000;
    border-bottom: 2px solid #111;
}
img {
    max-width: 100%;
}
.footer_container {
    background: #221831;
    padding-top: 83px;
    padding-bottom: 71px;
}
.footer_text {
    margin-top: 50px;
    padding-left: 8px;
}
.footer_text p {
    color: #a1acb7;
}
p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.logo a > span:last-of-type {
    font-size: 10px;
    font-weight: 500;
    /* letter-spacing: 0.75em; */
    margin-top: 7px;
    margin-left: 2px;
}